* {
  margin: 0px;
  font-family: "Avenir","Roboto";
}

@font-face {
  font-family: "Avenir";
  src: url(./GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir-bold";
  src: url(./GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

/*---Global---*/
/*--- Header---*/
.navigation {
  background-color: #FAFAFA;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.inner img {
  height: 40px;
}

.inner a {
  height: 48px;
  margin-top: 0px;
}

nav {
  width: 100%;
  height: 169px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

nav button {
  height: 70px;
  width: 293px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0095FF;
}

nav button :nth-child(1) {
  margin-right: 15px;
  height: 25px;
}

nav button :hover {
  background-color: #0065AD;
}

nav .usericon {
  height: 70px;
  width: 70px;
  margin-top: 0px;
  border-radius: 50%;
}

nav input {
  height: 50px;
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 20px;
  padding-left: 45px;
  background-image: url(./GlobalFont/search.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 50%;
  background-position-x: 10px;
}

ul li {
  padding-left: 10px;
  width: 100%;
  padding-right: 10px;
}

ul {
  padding-left: 0px;
}

/*--- Video Section---*/
.VideoSec video {
  width: 100%;
  height: 250px;
}

/*---video title---*/
.videotitle {
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 16px;
}

.videotitle h1 {
  font-size: 1.75em;
  font-family: "Avenir-bold";
  margin-bottom: 16px;
}

.videotitle h3 {
  padding-bottom: 32px;
}

.videotitle span {
  padding-left: 10px;
}

.videotitle .likesviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
}

.videotitle .views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.videotitle .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videotitle .views img, .videotitle .likes img {
  padding-right: 6px;
}

/*--- Photo Gallery---*/
.photobackground {
  background-color: #FAFAFA;
  padding-top: 48px;
  padding-bottom: 40px;
}

section.photo {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-grid {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.photo-grid img {
  padding: 0 5px 10px 5px;
  width: 344px;
  height: 193px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

/*--- Footer---*/
footer {
  background-color: #0065AD;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 48px;
  padding-right: 30px;
}

.getintouchline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

.getintouchline img {
  height: 25px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.block img {
  padding-left: 15px;
}

.square {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.card {
  width: 246px;
  position: relative;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 50px;
}

.copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btm-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

/*--- Comment Section ---*/
.comment-section {
  width: 100%;
}

.comment-section h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  margin-top: 48px;
  font-size: 2.3em;
}

.text-box {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E1E1E1;
}

.nameandphoto img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-top: 26px;
  margin-right: 20px;
}

.nameandphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

#name {
  width: 460px;
  height: 48px;
  border: 1px solid #E1E1E1;
  margin-bottom: 24px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

#comment {
  width: 300px;
  height: 96px;
  border: 1px solid #E1E1E1;
  padding-left: 16px;
  padding-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

button.form {
  margin-top: 24px;
  width: 300px;
  height: 75px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  padding-top: 0px;
  border-top-width: 0px;
  background-color: #0095FF;
}

form h4 {
  margin-bottom: 8px;
  color: #AFAFAF;
}

iframe {
  width: 436px;
  height: 146px;
}

/*--- input form ---*/
.blankimg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #AFAFAF;
  margin-right: 16px;
}

.commentpicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
  margin-left: 30px;
  margin-right: 30px;
}

.comment {
  width: 460px;
  font-size: .9em;
}

.divbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}

.titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 13px;
}

.date {
  margin-left: 10px;
  color: #AFAFAF;
  margin-top: 4px;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}

.commenttitle {
  width: 400px;
}

/*--- Table ---*/
#table-box {
  margin-top: 48px;
  margin-bottom: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

table {
  border-spacing: 0px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

th, td {
  text-align: left;
}

td button {
  float: right;
}

td {
  padding-bottom: 20px;
  padding-top: 20px;
}

td, th button {
  border-bottom: 1px solid #E1E1E1;
}

tr {
  width: 850px;
}

tr :nth-child(2), tr :nth-child(3) {
  padding-left: 15px;
  padding-right: 10px;
}

tr:hover:not(.tr1) {
  background-color: #f5f5f5;
}

.dates {
  font-weight: bold;
}

td button, button {
  height: 48px;
  width: 160px;
  border-radius: 4px;
  background-color: #0065AD;
  color: #FAFAFA;
  font-size: 23px;
}

button:hover {
  background-color: #0065AD;
}

/*--- Responsive ---*/
/*# sourceMappingURL=index.css.map */